
nav {
  background-color: #111111;
  clear: both;
  color: white;
  font-family: sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

nav > ul {
    margin : 0.1em;
}

nav > ul > li  {
  display: inline;
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: #cc6533;
}

ul.left_nav  {
  float: left;
  font-family: "Courier";
  font-size: 1.7em;
}

ul.right_nav {
  float: right;
  font-size: 1.2em;
}

ul.right_nav > li > a {
  padding-left: 1.3em;
}


footer {
  background-color: #111111;
  color: #777777;
  clear: both;
  text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-decoration: none;
  text-align: right;
  font-size: 0.8em;
}

footer > p {
    margin : 0.5em;
}

footer * {
  color: #777777;
}

rect.map_selection {
  fill: #fdf339;
  fill-opacity: 0;
  stroke-width:3;
  stroke: #fdf339;
  stroke-opacity: 0.1;
}

rect.map_selection:hover {
  fill-opacity: 0.07;
  stroke-width:3;
  stroke-opacity: 0.7;
}

.button {
  font-family: "Arial";
  text-decoration: none;
  background-color: #222222;
  color: #eeeeee;
  padding: .2em 0.8em 0.2em 0.8em;
  border-top: 3px solid #cc6533;
  border-right: 3px solid #cc6533;
  border-bottom: 3px solid #cc6533;
  border-left: 3px solid #cc6533;
  border-radius: 30px;
}
