
:root {
  --burntorange: #cc6533;
  --darkgrey: #191919;
}

html, body {
  height: 100%;
}

body {
  text-align: center;
  font-family: Arial, monaco, monospace, Helvetica, sans-serif;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/greytexture.jpg') 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding:0;
}

/* Global */
.container {
  width: 85%;
  margin: auto;
  overflow: hidden;
}

.main_wrap {
  overflow: auto;
  /* padding-nav needs to match the header height! */
  padding-top: 2.2em;
  /* padding-bottom needs to match the footer height! */
  padding-bottom: 2.2em;
  /* min-height taking into account header, footer, and the wrap padding */
  /* plus a little extra for some reason */
  min-height: calc(100% - 9em);
}


.button {
  font-family: "Arial";
  text-decoration: none;
  background-color: #222222;
  color: #eeeeee;
  padding: .2em 0.8em 0.2em 0.8em;
  border-top: 3px solid var(--burntorange);
  border-right: 3px solid var(--burntorange);
  border-bottom: 3px solid var(--burntorange);
  border-left: 3px solid var(--burntorange);
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
    color: var(--burntorange);
}

.invisible {
  opacity: 0;
}

rect.map_selection {
  fill: #fdf339;
  fill-opacity: 0;
  stroke-width:3;
  stroke: #fdf339;
  stroke-opacity: 0.05;
}

rect.map_selection:hover {
  fill-opacity: 0.07;
  stroke-width:3;
  stroke-opacity: 0.7;
}

/* this is just a combo of mapselection & hover */
rect.map_selection_highlight {
  fill: #fdf339;
  stroke: #fdf339;
  fill-opacity: 0.07;
  stroke-width:3;
  stroke-opacity: 0.7;
}


.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
  color: black;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 70%;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #eee;
	//background: -moz-linear-gradient(#fff, #999);
	//background: -webkit-linear-gradient(#fff, #999);
	//background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: var(--burntorange); }

.custom_dropzone {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ) 100%;
}

/* Header */
header {
  background-color: var(--darkgrey);
  color: #ffffff;
  padding-top: 20px;
  min-height: 2.6em;
  border-bottom: var(--burntorange) 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

header li {
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
  margin-top:-12px;
}

header #branding a {
  font-family: "Courier";
  font-size: 0.85em;
}

header #branding h1 {
  margin:0;
}

header nav {
  float:right;
  margin-top:0px;
}

header .highlight, header .current a {
  color:var(--burntorange);
  font-weight:bold;
}

header a:hover{
  color:var(--burntorange);
  font-weight:bold;
}

/* Footer */
footer {
  padding:0.5px;
  color:#777777;
  background-color:var(--darkgrey);
  text-align: center;
  font-size: 0.8em;
}

footer > p {
    margin : 0.5em;
    margin-right: 1em;
}

footer * {
  color: #777777;
}


/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header {
    padding-bottom:20px;
  }

  .quote button {
    display:block;
    width:100%;
  }

  .quote input, .quote textarea {
    width:100%;
    margin-bottom:5px;
  }
}
