:root {
  --accent: #cc6533;
  --darkgrey: #191919;
  --lightgrey: #eeeeee;
  --disabled: #999999;
  --selection: #fdf339;
}

html, body {
  height: 100%;
}

body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./images/greytexture.jpg') 100%;
  background-size: cover;
  font-family: Arial, monaco, monospace, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  margin: 0;
  padding:0;
}

span.highlight {
  color:var(--accent);
}

/* Global */
.container {
  margin: auto;
  overflow: hidden;
  width: 85%;
}

.main_wrap {
  /* min-height taking into account header, footer, and the wrap padding */
  /* plus a little extra for some reason */
  min-height: calc(100% - 9em);
  overflow: auto;
  /* padding-bottom needs to match the footer height! */
  padding-bottom: 2.2em;
  /* padding-nav needs to match the header height! */
  padding-top: 2.2em;
}

.invisible {
  opacity: 0;
}

.button {
  background-color: var(--darkgrey);
  //border-color: var(--accent);
  border-color: var(--darkgrey);
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  color: var(--lightgrey);
  cursor: pointer;
  font-family: "Arial";
  padding: .2em 0.8em 0.2em 0.8em;
  text-decoration: none;
}

.button:hover {
    color: var(--accent);
}

.disabled-button {
  color: var(--disabled);
  pointer-events: none;
}

.disabled-button:hover {
  color: var(--disabled);
}

.conditionalButton {
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  font-family: "Arial";
  padding: .2em 0.8em 0.2em 0.8em;
  text-decoration: none;
}

button.unselected {
  background-color: var(--disabled);
  border-color: var(--disabled);
  box-shadow: none;
  color: white;
}
button.unselected:hover { color: white; }

button.activated {
  background-color: var(--accent);
  border-color: var(--accent);
  box-shadow: 0 0 15px var(--accent);
  color: white;
}
button.activated:hover { color: white; }

rect.map_selection {
  fill: var(--selection);
  fill-opacity: 0;
  stroke:var(--selection);
  stroke-opacity: 0.2;
  stroke-width:3;
}

rect.map_selection:hover {
  fill-opacity: 0.07;
  stroke-opacity: 0.7;
  stroke-width:3;
}

/* this is just a combo of mapselection & hover */
rect.map_selection_highlight {
  fill: var(--selection);
  stroke: var(--selection);
  fill-opacity: 0.07;
  stroke-width:3;
  stroke-opacity: 0.7;
}

/* For when in the 'edit' mode (e.g delete for now) */
rect.delete_selection {
  fill: var(--selection);
  fill-opacity: 0.07;
  stroke: var(--selection);
  stroke-opacity: 0.7;
  stroke-width:3;
}

rect.delete_selection:hover {
  fill: #ff3300;
  stroke: #ff3300;
}


.modalDialog {
  background: rgba(0,0,0,0.8);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  opacity:0;
  pointer-events: none;
  position: fixed;
  transition: opacity 400ms ease-in;
  -webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
  z-index: 99999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	background: var(--lightgrey);
  border-radius: 10px;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	position: relative;
  width: 70%;
	//background: -moz-linear-gradient(#fff, #999);
	//background: -webkit-linear-gradient(#fff, #999);
	//background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: white;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: var(--accent); }

.dropzone .dz-preview .dz-image {
      width: 300px;
      height: 300px;
    }

/* Header */
header {
  background-color: var(--darkgrey);
  border-bottom: var(--accent) 3px solid;
  color: white;
  min-height: 2.6em;
  padding-top: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: color 0.1s ease-out;
  -moz-transition: color 0.1s ease-out;
  -o-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out;
}

header li {
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
  margin-top:-12px;
}

header #branding a {
  font-family: "Courier";
  font-size: 0.85em;
}

header #branding h1 {
  margin:0;
}

header nav {
  float:right;
  margin-top:0px;
}

header .highlight, header .current a {
  color:var(--accent);
  font-weight:bold;
}

header a:hover{
  color:var(--accent);
}

/* Footer */
footer {
  padding:0.5px;
  color:#777777;
  background-color:var(--darkgrey);
  text-align: center;
  font-size: 0.8em;
}

footer > p {
    color: #777777;
    margin : 0.5em;
    margin-right: 1em;
}


/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header {
    padding-bottom:20px;
  }

  header li {
    float:left;
    display:inline;
    padding: 0 10px 0 10px;
  }

  .quote button {
    display:block;
    width:100%;
  }

  .quote input, .quote textarea {
    width:100%;
    margin-bottom:5px;
  }
}
